div
    p.
        今年七月份在荷兰阿姆斯特丹举行的Google举行了第一次Progressive Web App Summit, 虽然Progressive Web App (PWA)这个词可能还不太被人熟知，
        但却可以感觉到Google对它抱有很大的期望，也表达出在今后Android设备上大力支持WPA的想法，如果你还不了解PWA，下面是会议的视频录像

    div.embed-content
        iframe(width="560" height="315" src="https://www.youtube.com/embed/9Jef9IluQw0" frameborder="0" allowfullscreen).
            Seem like your Browser can't view this embed content...