extends ./templates/main.layout.jade

block mainBody
    div.top-header-panel
        h1.title HEY!&nbsp;&nbsp;&nbsp;THIS IS MARKO
        div.intro.col-sm-12
            div.col-sm-6.col-sm-offset-3
                p.
                    Hi there! Welcome to my site, my name is Marko Cen, I was born in Beijing, China, now live in Boston<br><br>
                    I'm a javascript enthusiast, I believe every high quality web application could be built in a pure javascript environment.
                    Now I heavily use AngularJS and NodeJS in my daily routine, and I have couple of side projects built on MEAN
                    You could check my skills at the bottom of this page.<br><br>
                    Currently, I work as a full-time developer at NetBrain Technologies Inc, I am open to take part-time projects or help
                    non-profit organizations with their web applications. You could reach me by the contact info listed below.
        div.contacts.col-sm-12
            div.col-sm-6.col-sm-offset-3
                div.col-sm-12
                    h3 EMAIL: markocen[at]gmail.com
                div.col-sm-12
                    h3 <a href="https://twitter.com/markocen" target="_blank">TWITTER</a>
                div.col-sm-12
                    h3 <a href="http://www.github.com/MarkoCen" target="_blank">GITHUB</a>
                div.col-sm-12
                    h3 <a href="https://www.linkedin.com/in/markocen" target="_blank">LINKEDIN</a>
                div.col-sm-12
                    h3 <a href="http://stackoverflow.com/users/5454390/markocen" target="_blank">STACKOVERFLOW</a>
        duv.skills.col-sm-12
            div.col-sm-6.col-sm-offset-3
                div.col-sm-12
                    div.col-sm-2
                        label JavaScript
                    div.col-sm-10
                        div.progress.active
                            div(class="progress-bar" style="width: 95%;background-color:#F1C40F;")
                div.col-sm-12
                    div.col-sm-2
                        label Node
                    div.col-sm-10
                        div.progress.active
                            div(class="progress-bar" style="width: 85%;background-color:#80BD01;")
                div.col-sm-12
                    div.col-sm-2
                        label C#
                    div.col-sm-10
                        div.progress.active
                            div(class="progress-bar" style="width: 75%;background-color:#0F67A7;")
                div.col-sm-12
                    div.col-sm-2
                        label HTML5/CSS3
                    div.col-sm-10
                        div.progress.active
                            div(class="progress-bar" style="width: 85%;background-color:#E84C3D;")
                div.col-sm-12
                    div.col-sm-2
                        label Mobile App
                    div.col-sm-10
                        div.progress.active
                            div(class="progress-bar" style="width: 50%;background-color:#262626;")
                div.keywords.col-sm-12
                    div.col-sm-2
                        label Keywords
                    div(class="col-sm-10" style="text-align: left;")
                        span.badge Material Design
                        span.badge Angular 1.x/2
                        span.badge Socket.io
                        span.badge Redis
                        span.badge Bootstrap
                        span.badge Mercurial
                        span.badge ES6/2015
                        span.badge Express
                        span.badge MongoDB
                        span.badge Webpack
                        span.badge .Net 4+
                        span.badge jQuery
                        span.badge Mocha
                        span.badge React
                        span.badge Node
                        span.badge Gulp
                        span.badge Lodash
                        span.badge NPM
                        span.badge Git
                        span.badge 中文
                        span.badge Firebase
                        span.badge Ionic/Cordova


        div.col-sm-12.top-btns
            a.btn.btn-default.about ABOUT ME
            a.btn.btn-info.blog BLOG
            a.btn.btn-default.contact CONTACTS
            a.btn.btn-default.skill SKILLS

        style.
            .bg-music-wrap {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: hidden;
                background-color: black;
                z-index: -100;
            }

            .bg-music {
                opacity: .3;
                position: absolute;
                top: 50%;
                left: 50%;
                width: auto;
                height: auto;
                min-width: 100%;
                min-height: 100%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            @media (max-width: 767px) {
                .bg-music-wrap {
                    background: white;
                }

                .bg-music {
                    display: none;
                }
            }
        div.bg-music-wrap
            video.bg-music(autoplay loop)
                source(src="/media/bg-music.mp4" type="video/mp4")
            script.
                var video = document.querySelector('.bg-music');
                video.playbackRate = .85;
                video.volume = .6;

        a(href="https://youtu.be/M2hW6jgomwo" class="btn btn-link" target="_blank" style="position: fixed;bottom:5px;right:15px;") Music: Heathens Remix
        //canvas(class="background")
