extends ./templates/main.layout.jade

block mainBody
    div.top-header-panel
        h1.main-title I, Marko
        video(class="background-video" muted autoplay loop)
            source(src="media/intro.mp4" type="video/mp4")

