doctype html
html(lang="en")
    head
        title Blog | MarkoCen.com
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css")
        link(rel="stylesheet" href="/css/global.css")
        link(rel="stylesheet" href="/css/blog.css")
        block headerScript
    body.blogs
        block mainBody
        script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js")
        script.
            hljs.initHighlightingOnLoad();
        script(src="dist/bundle.js")
        block footerScript