doctype html
html(lang="en")
    head
        title MarkoCen
        link(rel="stylesheet" href="css/bootswatch.css")
        link(rel="stylesheet" href="css/main.css")
        block headerScript
    body.main
        block mainBody
        script(src="dist/base.js")
        block footerScript